@layer theme, base, antd, components, utilities;
@import "tailwindcss";

html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

@theme {
  --color-primary: #101828;
  --color-secondary: #6a7282;
  --color-muted: #4a5565;

  --color-border-primary: #e5e7eb;
  --color-border-secondary: #d1d5dc;

  --color-surface: #ffffff;
  --color-surface-muted: #f3f4f6;
}

@layer components {
  .card {
    @apply bg-surface rounded-[14px] border border-border-primary;
  }
  .divider {
    @apply w-full h-px border border-border-primary;
  }
}

@layer utilities {
  .scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .border-default {
    @apply border-border-primary;
  }
  .border-secondary {
    @apply border-border-secondary;
  }
  .text-body {
    @apply text-[14px] leading-5;
  }
  .text-caption {
    @apply text-[12px] leading-4;
  }
}

.recharts-wrapper,
.recharts-wrapper *:focus,
.recharts-wrapper *:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

/* remove antd header cell resize handle */
.ant-table-thead th.ant-table-cell::before {
  display: none !important;
}

/* keep "no data" placeholder pinned to the visible viewport when table scrolls horizontally */
.ant-table-placeholder .ant-table-cell {
  border-bottom: none !important;
}
.ant-table-placeholder .ant-table-expanded-row-fixed {
  position: sticky;
  left: 0;
  width: auto !important;
  min-width: 100%;
  max-width: 100vw;
  margin: 0 auto;
}
.ant-table-placeholder .ant-table-expanded-row-fixed > * {
  position: sticky;
  left: 0;
}

/*  sidebar menu */

.custom-sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.custom-sidebar-menu .ant-menu-item {
  width: 100%;
  margin: 0;
  padding: 14px 16px !important;
  display: flex;
  align-items: center;
  border-radius: 10px;
  gap: 12px;
}

.custom-sidebar-menu .ant-menu-item .ant-menu-title-content {
  display: flex;
  align-items: center;
}
.custom-sidebar-menu .ant-menu-item .ant-menu-title-content span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.custom-sidebar-menu .ant-menu-item .ant-menu-item-icon {
  display: flex;
  justify-content: center;
}

/* adntd */
.ant-input:focus,
.ant-input-focused,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused,
.ant-input-textarea:focus,
.ant-input-textarea-focused {
  border-color: #3b82f6 !important;
  box-shadow: 0 0 0 1px #3b82f6 !important;
}

.ant-form-item-has-error .ant-input,
.ant-form-item-has-error .ant-input-affix-wrapper,
.ant-form-item-has-error .ant-input-textarea {
  border-color: #ef4444 !important;
}

.ant-form-item-has-error .ant-input:focus,
.ant-form-item-has-error .ant-input-affix-wrapper-focused {
  box-shadow: 0 0 0 1px #ef4444 !important;
}

.ant-input[disabled],
.ant-input-affix-wrapper-disabled {
  background-color: #f9fafb !important;
  cursor: not-allowed;
}
